.perfectlooper,
.perfectlooper *{
	padding: 0;
	border: 0;
	outline: none;
	vertical-align: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;
	background-color: transparent;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline-color: #9f0;
}
.perfectlooper.ios,
.perfectlooper.ios *{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}
.perfectlooper{
	display: block;
	position: relative;
	background-color: #000;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	font-family: 'Exo 2', sans-serif;
	text-align: left;
	text-decoration: none;
	color: #ccc;
}
.perfectlooper.ios{
	overflow: hidden;
	touch-action: manipulation;
}
.perfectlooper canvas,
.perfectlooper img,
.perfectlooper .overlay{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
.perfectlooper *::-moz-focus-inner {
	border: 0;
}
.perfectlooper.keynav *:focus{
	outline-width: 2px;
	outline-style: solid;
}
.perfectlooper.keynav .fullscreenToggle.notStarted:focus{
	outline: none;
	border-radius: 6px;
	box-shadow: inset 0 0 0 2px #9f0;
}
.perfectlooper.fullscreen{
	max-width: 177.77777777777777vmin; /* enforces aspect when superwide... chrome only? TODO: multi-browser fixes */
	height: 100%;
	width: 100%;
}
.perfectlooper.fullscreen.keynav .overlay{
	outline: none;
}
.perfectlooper.hideCursor{
	cursor: none;
}
.perfectlooper canvas,
.perfectlooper .overlay,
.perfectlooper-control{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.perfectlooper .hidden{
	opacity: 0;
}
.perfectlooper .aspectEnforcer{
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	width: 100%;
}
.perfectlooper.fullscreen .aspectEnforcer{
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	top: 50%;
}
.perfectlooper .statusMessage{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.5rem 1rem;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0  0 1rem 0;
}
.perfectlooper.ios .statusMessage {
	transition: all .5s;
}
.perfectlooper .statusMessage div{
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 1rem;
}
.perfectlooper svg{
	display: block;
	color: #9f0;
}
.perfectlooper button:disabled svg{
	color: #666;
}
.perfectlooper button:active svg{
	color: #ff0;
}

.perfectlooper_fade-enter-active, .perfectlooper_fade-leave-active {
	transition: opacity .5s;
}
.perfectlooper_fade-enter, .perfectlooper_fade-leave-to {
	opacity: 0;
}

.perfectlooper-control{
	position: absolute;
	z-index: 10;
	bottom: 0;
	width: 100%;
	opacity: 1;
	transition: all .5s;
}
.perfectlooper.fullscreen .perfectlooper-control{
	box-shadow: 0 4px 0 0 rgba(0,0,0,0.75);
}
.perfectlooper.iosDangerZone .perfectlooper-control{
	bottom: 3rem;
}
.perfectlooper.ios .perfectlooper-control:after{
	position: absolute;
	display: block;
	bottom: -3rem;
	height: 3rem;
	line-height: 3rem;
	width: 100%;
	content: 'iOS Safari interactivity DangerZone™';
	color: rgba(255,255,255,0.5);
	text-align: center;
	background-color: rgba(0,0,0,0.35);
	opacity: 0;
	transition: all .5s;
}
.perfectlooper.ios.iosDangerZone .perfectlooper-control:after{
	opacity: 1;
}
.perfectlooper-control .background{
	fill: #000;
	opacity: 0.75;
}
.perfectlooper-control button{
	position: absolute;
	height: 2.75rem;
	width: 2.75rem;
	margin: 0.125rem;
	bottom: 0;
	cursor: pointer;
}
.perfectlooper-control .step-prev{left: 0;}
.perfectlooper-control .playToggle{left: 3rem;}
.perfectlooper-control .step-next{left: 6rem;}
.perfectlooper-control .download{left: 9rem;}
.perfectlooper-control .fullscreenToggle{right: 0;}
.perfectlooper-control .fullscreenBackground{
	fill: #000;
	opacity: 0.25;
}
.perfectlooper-control .fill{
	fill: #9f0;
}
.perfectlooper-control .stroke{
	fill: none;
	stroke-linecap: round;
	stroke-miterlimit: 10;
}
.perfectlooper-control .stroke.screen-line{
	stroke-width: 3px;
}
.perfectlooper-control .stroke.loading{
	stroke-width: 4px;
}
.perfectlooper-control .progressLines,
.perfectlooper-control .playhead{
	cursor: pointer;
}
.perfectlooper-control .stroke.total,
.perfectlooper-control .stroke.loaded{
	stroke: #666;
	stroke-width: 8px;
	opacity: 0.5;
}
.perfectlooper-control .stroke.loaded{
	stroke: #999;
}
.perfectlooper-control .stroke.scaled{
	stroke: #9f0;
	stroke-width: 4px;
}
.perfectlooper-control .playhead .back{
	stroke: #666;
	stroke-width: 16px;
	opacity: 0.6;
}
.perfectlooper-control .playhead .front{
	stroke: #ff0;
	stroke-width: 4px;
}
.perfectlooper-control .currentFrameDisplay{
	fill: #000;
	transition: opacity .25s;
}
.perfectlooper-control .currentFrameDisplay text{
	fill: #ccc;
	cursor: pointer;
}

@-webkit-keyframes rotating {
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotating {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.perfectlooper-control .rotating {
	-webkit-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}
