<template>
  <div class="perfectlooper-control">
    <svg class="perfectlooper-control-defs" style="display: none;">
      <defs>
        <path class="stroke screen-line" d="M3.5,3.5l5,5" id="screen-line" stroke="currentColor" />
        <path
          d="M10,9V4.41421a1,1,0,0,0-1.70711-.70711L3.70711,8.29289A1,1,0,0,0,4.41421,10H9A1,1,0,0,0,10,9Z"
          fill="currentColor"
          id="full-triangle"
        />
        <path
          d="M8.29289,3.70711,3.70711,8.29289A1,1,0,0,1,2,7.58579V3A1,1,0,0,1,3,2H7.58579A1,1,0,0,1,8.29289,3.70711Z"
          fill="currentColor"
          id="exit-triangle"
        />
        <g id="full-corner">
          <use xlink:href="#screen-line" />
          <use xlink:href="#full-triangle" />
        </g>
        <g id="exit-corner">
          <use xlink:href="#screen-line" />
          <use xlink:href="#exit-triangle" />
        </g>
        <g id="icon-fullscreen">
          <g transform="translate(24, 24)">
            <use transform="rotate(  0)" xlink:href="#full-corner" />
            <use transform="rotate( 90)" xlink:href="#full-corner" />
            <use transform="rotate(180)" xlink:href="#full-corner" />
            <use transform="rotate(-90)" xlink:href="#full-corner" />
          </g>
        </g>
        <g id="icon-fullscreen-exit">
          <g transform="translate(24, 24)">
            <use transform="rotate(  0)" xlink:href="#exit-corner" />
            <use transform="rotate( 90)" xlink:href="#exit-corner" />
            <use transform="rotate(180)" xlink:href="#exit-corner" />
            <use transform="rotate(-90)" xlink:href="#exit-corner" />
          </g>
        </g>
        <path
          d="M17,15.33975V32.66025a2,2,0,0,0,3,1.73205l15-8.66025a2,2,0,0,0,0-3.4641L20,13.6077A2,2,0,0,0,17,15.33975Z"
          fill="currentColor"
          id="icon-play"
        />
        <g id="icon-loading">
          <path
            d="M28.56066,26.56066l4.37868,4.37868a1.5,1.5,0,0,0,2.12132,0l4.37868-4.37868A1.5,1.5,0,0,0,38.37868,24H29.62132A1.5,1.5,0,0,0,28.56066,26.56066Z"
            fill="currentColor"
          />
          <path class="stroke loading" d="M24,34A10,10,0,1,1,34,24" stroke="currentColor" />
        </g>
        <path
          d="M19,34H17a2,2,0,0,1-2-2V16a2,2,0,0,1,2-2h2a2,2,0,0,1,2,2V32A2,2,0,0,1,19,34Zm12,0H29a2,2,0,0,1-2-2V16a2,2,0,0,1,2-2h2a2,2,0,0,1,2,2V32A2,2,0,0,1,31,34Z"
          fill="currentColor"
          id="icon-pause"
        />
        <path
          d="M26.125,16.85529l9,5.19615a2.25,2.25,0,0,1,0,3.89711l-9,5.19615a2.25,2.25,0,0,1-3.375-1.94856V18.80385A2.25,2.25,0,0,1,26.125,16.85529ZM17.75,29.5v-11a2,2,0,0,0-2-2h-.5a2,2,0,0,0-2,2v11a2,2,0,0,0,2,2h.5A2,2,0,0,0,17.75,29.5Z"
          fill="currentColor"
          id="icon-advance"
        />
        <path
          d="M31.145,21.188l-5.196,9a2.25,2.25,0,0,1,-3.897,0l-5.196,-9a2.25,2.25,0,0,1,1.949,-3.375L29.196,17.813A2.25,2.25,0,0,1,31.145,21.188Z"
          fill="currentColor"
          id="icon-download"
        />
        <rect height="44" id="button-click-mask" opacity="0" width="44" x="2" y="2" />
      </defs>
    </svg>
    <div v-if="started">
      <perfectlooper-control-bar
        :currentFrameIndex="currentFrameIndex"
        :currentFrameTemplate="currentFrameTemplate"
        :lastUserAction="lastUserAction"
        :loaded="loaded"
        :playOffset="playOffset"
        :scaled="scaled"
        :scrub="scrub"
        :startIndex="startIndex"
        :width="width"
      />
      <perfectlooper-control-button
        :disabled="loaded !== 1"
        @click.native="step(-1)"
        class="step-prev"
        label="Step 1 frame backward"
      >
        <g transform="translate(24, 24)">
          <g transform="rotate(180)">
            <g transform="translate(-24, -24)">
              <use xlink:href="#icon-advance" />
            </g>
          </g>
        </g>
      </perfectlooper-control-button>
      <perfectlooper-control-button :label="playing ? 'Pause' : 'Play'" @click.native="playToggle" class="playToggle">
        <use key="play" v-if="!playing" xlink:href="#icon-play" />
        <use key="pause" v-if="playing && ready" xlink:href="#icon-pause" />
        <g key="loading" transform="translate(24, 24)" v-if="!ready && started && playing">
          <g class="rotating">
            <g transform="translate(-24, -24)">
              <use xlink:href="#icon-loading" />
            </g>
          </g>
        </g>
      </perfectlooper-control-button>
      <perfectlooper-control-button
        :disabled="loaded !== 1"
        @click.native="step(1)"
        class="step-next"
        label="Step 1 frame forward"
      >
        <use xlink:href="#icon-advance" />
      </perfectlooper-control-button>
      <perfectlooper-control-button
        :disabled="loaded !== 1"
        @click.native="download"
        class="download"
        label="Download frame"
      >
        <use xlink:href="#icon-download" />
      </perfectlooper-control-button>
    </div>
    <perfectlooper-control-button
      :class="{notStarted: !started}"
      @click.native="fullscreenToggle"
      class="fullscreenToggle lastFocus"
      label="Toggle Fullscreen"
    >
      <rect class="fullscreenBackground" height="40" rx="4" ry="4" v-if="!started" width="40" x="4" y="4" />
      <use key="off" v-if="!isFullscreen" xlink:href="#icon-fullscreen" />
      <use key="on" v-if="isFullscreen" xlink:href="#icon-fullscreen-exit" />
    </perfectlooper-control-button>
  </div>
</template>

<script>
import PerfectlooperControlBar from './perfectlooper-control-bar';
import PerfectlooperControlButton from './perfectlooper-control-button';
export default {
  components: {
    PerfectlooperControlBar,
    PerfectlooperControlButton,
  },
  props: {
    started: Boolean,
    playing: Boolean,
    ready: Boolean,
    isFullscreen: Boolean,
    loaded: Number,
    scaled: Number,
    width: Number,
    playOffset: Number,
    startIndex: Number,
    currentFrameIndex: Number,
    currentFrameTemplate: String,
    lastUserAction: String,
    playToggle: Function,
    step: Function,
    download: Function,
    scrub: Function,
    fullscreenToggle: Function,
  },
};
</script>
